<div ng-controller="UserController" class="container">
  <div class="logo pull-left">
    <a href=".">
      <img ng-src="http://www.cmdi.chinamobile.com/images/Logo.jpg">
    </a>
  </div>
  <div class="user-control pull-right">
    <span ng-show="hasLogin">
      欢迎您，
      <a ng-href="/user">{{nickname}}</a>
      <button ng-click="signOut()" class="btn btn-default">登出</button>
    </span>
    <a ng-hide="hasLogin" href="user/signin">登录</a>
    <a ng-show="isAdmin" href="admin">系统管理</a>
  </div>
</div>
