<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href=".">网站首页</a></li>
        <li><a href="article/123">公司介绍</a></li>
        <li><a href="sections/1">新闻中心</a></li>
      </ul>

      <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="文章名称">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
          </span>
        </div>
      </form>
    </div>
  </nav>
</div>
