<div class="container">
  <nav ng-controller="NavCtrl" class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in navs">
          <a ng-href="{{item.link}}">{{item.name}}</a>
        </li>
      </ul>

      <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="文章名称">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">搜索</button>
          </span>
        </div>
      </form>
    </div>
  </nav>
</div>
